::-webkit-scrollbar-track
{
	border: 5px solid transparent;
	background-color: #7F7F7F;
}

::-webkit-scrollbar
{
	width: 15px;
	background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb
{
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
}
